<nav class="navbar navbar-expand-lg navbar-light static-top bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">
            <img  height="30" border="0" align="center"  src="/anchor.png"/>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link logo-text" href="/">ForkoFranko – <%-__("free Crypto Market")%></a>
            </li>
            <li class="nav-item active">
              
            </li>
        </ul>
        </div>
        <ul class="navbar-nav ml-auto">
            <% var key = ''; try{if (status.active) key = status.token || '';}catch(e){}%>
            <% if (!key.length) {%><% include ../partials/nav_not_logged %><% }%>
            <% if (key.length) {%><%  include ../partials/nav_logged %><% }%>
        </ul>
        
        <button type="button" id='id-button-lang-en' class="btn btn-outline-info btn-sm m-1 lang-btn">EN</button>
        <button type="button" id='id-button-lang-ru' class="btn btn-outline-info btn-sm lang-btn">RU</button>
        <button type="button" id='id-button-lang-ua' class="btn btn-outline-info btn-sm lang-btn disabled">UA</button>
    </div>
</nav>
    <div id="loader" style="display:none;"></div>
    <input id='id_lang' type='hidden' <% var value = 'value="en"'; try{if (lang) value = "value='"+lang+"'"}catch(e){} %> <%- value %>>

    <% var message = ""; 
        if (!share.tradeEnabled || !share.withdrawEnabled) {
        <!-- if (1) { -->
          message = 
            '<div class="container-fluid pt-2"><div class="col-md-12 text-right">'+
              '<div id="alert-fail" style="display: inline-block" class="my-2 alert alert-danger alert-dismissible" role="alert" >'+
                '<div id="fail-message" data-tech-works>Technical work is carried out. Please be patient. Trading enabled. Withdraw is temporarily disabled</div>'+
                '<button id="close_fail" type="button" class="close"  aria-label="Close">'+
                  '<span aria-hidden="true">&times;</span>'+
                '</button>'+
              '</div>'+
            '</div></div>'
        }
    %>
    <!--<div class="container pt-2">
      <div id="alert-fail" class="alert alert-danger alert-dismissible col-md-12" role="alert" >
        <div id="fail-message"><b>Crew (CREW)</b> will delisted. Please close your orders and withdraw CREW balances</div>
        <button id="close_fail" type="button" class="close"  aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        </div>
      </div>
    </div>-->
    <%- message %>
