<!DOCTYPE html>
<html lang="en">
    
    <% include ../partials/head %>
  <body>

    <% include ../partials/header %>


<div class="featured-bg-11" id="about1">
    <div class="container-fluid mt-3">
      <div class='row'>
        <div class="col-md-12">
            <div class="card1 w-100">
              <div class="card-body">
                <h2><%-__("Listing Request")%></h2>

<p class="card-text">
<%-__("We only accept Bitcoin based altcoins. Cryptonote and Zcash forks and Ethereum tokens are currently not accepted")%>
</p>
<p class="card-text">
  <%-__("Contact us on Telegram")%>: <a href="https://t.me/forkofranko">@forkofranko</a>
</p>

            
              </div>
            </div>
        </div>
      </div>
 </div>
    </div> <!-- /container -->

    <% include ../partials/footer %>
    <script src='/js/support.js'></script>
  </body>
</html>
